.image {
    width: 250px;
    filter: grayscale();
    transition: filter 0.4s ease-in-out;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image:hover {
    filter: none;
    transform: translateY(0) scale(1.1);
}